/* Full screen center */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/loginbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login-box {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  width: 500px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.login-box h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #2a5298;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-box button {
  padding: 10px;
  background: #2a5298;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover {
  background: #1e3c72;
}

.signup-btn {
  color: #2a5298;
  text-decoration: none;
  margin-top: 15px;
}

.login-options a,
button {
  display: inline;
  padding: auto;
  margin: 16px;
}
