.signup-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/loginbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.signup-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 500px;
}

.signup-box input,
.signup-box select {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

button{
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 40%;
  justify-self: center;
}

h2{
  text-align: center;
  color: blue;
  font-size: 30px;
}